/* Mặc định: desktop hiển thị, mobile ẩn */
/* .MobileHomeHeader {
  display: none;
}

.HomeHeader {
  display: block;
  height: fit-content;

} */

/* .HomeHeader_Container {
  height: fit-content;
  min-width: 710px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.HomeHeader_Container_Logo {

  background-color: #f1dfc1;
  width: 200px;
  flex-direction: column;
  padding: 30px 25px 30px 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeHeader_Container_Logo_Image {
  width: 100px;
  height: 115px;

}

.HomeHeader_Container_Logo_Brand {

  font-family: 'VnCenturySchoolbook', sans-serif;
  color: #605e38;
  margin-top: 5px;
  font-size: 40px;
  margin-top: 5px;

}

.HomeHeader_Container_Logo_WFPB {
  font-family: Arial, sans-serif;
  font-weight: 500;
  margin-top: 5px;

  letter-spacing: 5px;
  color: #696741;
  font-size: 20px;
}

.HomeHeader_Container_Logo_Slogan {
  color: #1a5e1a;
  font-family: 'UTMAlpineKT', sans-serif;
  font-size: var(--font-size-slogan);
}




.InnerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InnerHeader_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1dfc1;
  width: 500px;
  padding: 25px 25px;
  box-sizing: border-box;

}

.InnerHeader_Container_Logo {
  width: 550px;
  height: 180px;

} */

.MobileHomeHeader {
      height: fit-content;

  width: 100%;
  min-width: 710px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;

  box-sizing: border-box;
}

.MobileHomeHeader_Container {
  display: flex;

  align-items: center;

  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: #f1dfc1;
  padding: 30px 30px;

  box-sizing: border-box;
  min-width: 710px;
}

.MobileHomeHeader_Logo {
  margin-left: 30px;
  width: 145px;
  height: 150px;
}

.MobileHomeHeader_Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 25px;
  padding-top: 10px;
  box-sizing: border-box;
  color: #605e38;

}
.MobileHomeHeader_Content_WFPB
{

  letter-spacing: 0.01em;
  margin: 0px;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: var(--font-size-slogan);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MobileHomeHeader_Content_Brand {
  font-family: 'VnCenturySchoolbook', sans-serif;
  font-weight: 600;

  margin-top: 5px;
  font-size: 50px;
  margin-top: 5px;
}

.MobileHomeHeader_Content_Slogan {
  font-family: 'UTMAlpineKT', sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 5px;
  font-size: var(--font-size-slogan);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 !important;
}

@media (max-width: 450px) {

  .MobileHomeHeader {
    width: 100vw;
    min-width: 0px;

    height: fit-content;
    background-color: #f1dfc1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15 0;
    padding-right: 15px;
    padding-left: 7px;
    box-sizing: border-box;
  }

  .MobileHomeHeader_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 0px;
      padding: 0px 0px;

  }


  .MobileHomeHeader_Logo {
      margin-left: 13px;

    width: 85px;
    height: 90px;
  }

  .MobileHomeHeader_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 25px;
    padding-top: 10px;
    box-sizing: border-box;
    color: #605e38;

  }

  .MobileHomeHeader_Content_Brand {
    font-family: 'VnCenturySchoolbook', sans-serif;
    font-weight: 600;

    margin-top: 5px;
    font-size: 33px;
    margin-top: 5px;
  }

  .MobileHomeHeader_Content_Slogan {
    font-family: 'UTMAlpineKT', sans-serif;
    font-weight: 400;
    /* letter-spacing: 0.01em; */
    /* hoặc 0.1em */
    margin-top: 5px;
    font-size:1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 !important;
    white-space: nowrap;

  }
}