  .Menu {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    font-family: 'Merriweather', serif;

  }

  .Menu_Title {
    font-size: var(--font-size-title);
    font-weight: 600;
  }

  .Menu_List {

    list-style: none;
    padding: 0;
    width: 100%;

    text-align: left;
  }

  .Menu_List_Item {
    margin-bottom: 8px;
    width: 100%;

    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-title);
    font-weight: 400;

  }

  .Menu_category_link {
    padding-left: 0px;
    font-size: var(--font-size-title);
    font-weight: 600;
    text-decoration: none;
    color: white;
  }
 .Menu_category_link:hover {
      color: #f1dfc1 ! important;
      cursor: pointer;

  }
  .Menu_category_posts {
    padding-left: 10px;
    box-sizing: border-box;
  }

  .Menu_category_posts ul {
    padding-left: 17px;
    padding-bottom: 15px;
    box-sizing: border-box;

  }

  .Menu_category_posts li {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0;
    width: 100%;

  }

  .Menu_category_posts a {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-size: var(--font-size-title);
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Giới hạn 3 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
/* MOBILE */

@media (max-width: 450px) {

  .Menu {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    font-family: 'Merriweather', serif;

  }

  .Menu_Title {
    font-size: var(--font-size-title);
    font-weight: 600;
  }

  .Menu_List {
    list-style: none;
    padding: 0;
    width: 100%;

    text-align: left;
  }

  .Menu_List_Item {
    margin-bottom: 8px;
    width: 100%;

    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-title);
    font-weight: 400;

  }

  .Menu_category_link {
    padding-left: 0px;
    font-size: var(--font-size-title);
    font-weight: 600;
    text-decoration: none;
    color: white;
  }
   

  .Menu_category_posts {
    padding-left: 10px;
    box-sizing: border-box;
  }

  .Menu_category_posts ul {
    padding-left: 17px;
    padding-bottom: 15px;
    box-sizing: border-box;

  }

  .Menu_category_posts li {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0;
    width: 100%;

  }

  .Menu_category_posts a {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-size: var(--font-size-title);
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Giới hạn 3 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}