.Toolbar_Container {
  width: 100%;
  min-width: 710px;
  margin-top: 10px;

  position: sticky;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
}

.Desktop_Toolbar {
  width: 100%;

  height: 60px;
  padding: 5px 15px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;



  background-color: #f1dfc1;
  border-radius: 7px;
}

.Mobile_Toolbar {
  display: none;
}

.Toolbar.has-icon {
  justify-content: space-between;

}

.Toolbar_Avatar {

  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* margin-top: 5px; */

}

.Toolbar_Avatar:hover {
  cursor: pointer;
}

.Toolbar_Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Toolbar_Icon i {
  font-size: 45px;
  color: #605e38;

}

.Toolbar_Icon:hover {
  cursor: pointer;
}

.Desktop_Toolbar_Midle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.Desktop_Toolbar_Midle_Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 50%;

}

.Desktop_Toolbar_Midle_Icon:hover {
  cursor: pointer;
  background-color: bisque;
}

.Desktop_Toolbar_Midle_Icon svg {
  width: 35px;
  height: 35px;
  stroke-width: 40;
  stroke: #605e38;

  /* hoặc 0.5 nếu muốn mỏng hơn */
}


.Toolbar_Right {
  display: flex;
  align-items: center;
}

.Toolbar_Menu_Dropdown {
  display: none;

}

.Toolbar_Menu_Dropdown.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 100;
  margin-top: 10px;
  max-height: calc(100vh - 90px);
  width: 250px;

  background-color: #5e5c2c;
  border-radius: 7px;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;

  overflow: auto;
}

.Toolbar_Menu_Dropdown::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.Toolbar_Menu_Dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.Toolbar_Menu_Dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.Toolbar_Setting_Dropdown {
  display: none;
}

.Toolbar_Setting_Dropdown.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 100;
  margin-top: 10px;
  /* width: 240px; */
  max-height: calc(100vh - 350px);
  background-color: #5e5c2c;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

@media (max-width: 450px) {

  .Toolbar_Container {
    width: 100vw;
    min-width: 0px;
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
    margin-top: 10px;

  }

  .Desktop_Toolbar {
    display: none;
  }

  .Toolbar_Right {
    display: flex;
    align-items: center;
  }

  .Mobile_Toolbar {
    width: 100vw;
    height: 60px;
    padding: 5px 5px;

    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;



    background-color: #f1dfc1;
    border-radius: 7px;
  }

  .Toolbar_Avatar {
    width: 45px;
    height: 45px;

  }


  .Toolbar_Back {
    font-size: 34px;
    color: #4a4a3f;
    margin-top: 5px;
  }

  .Toolbar_Icon {
    font-size: 25px;
    background-color: #605e38;
    border-radius: 0 5px 5px 0;

    position: absolute;
    left: 0;

    top: 70px;
    z-index: 100;
  }

  .Toolbar_Icon.active {
   left: 240px;

  }

  .Toolbar_Icon i {
    font-size: 50px;
    color: #ffffff;
  }

  .Mobile_Toolbar_Midle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .Mobile_Toolbar_Midle_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 50%;

  }

  .Mobile_Toolbar_Midle_Icon svg {
    width: 40px;
    height: 40px;
    stroke-width: 35;
    stroke: #605e38;
    /* hoặc 0.5 nếu muốn mỏng hơn */
  }

  .Toolbar_Menu_Dropdown {
    display: none;
  }

  .Toolbar_Menu_Dropdown.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
    margin-top: 20px;

    width: 240px;
    max-height: calc(100vh - 350px);

    background-color: #605e38;
    border-radius: 0 0 7px 0;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
  }

  .Toolbar_Setting_Dropdown {
    display: none;
  }

  .Toolbar_Setting_Dropdown.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 100;
    margin-top: 20px;

    /* width: 240px; */
    max-height: calc(100vh - 350px);
    background-color: #5e5c2c;
    border-radius: 7px 0 0 7px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
  }
}