.Desktop_Toolbar {
  width: 100%;
  /* min-width: 710px; */

  height: 50px;
  padding: 5px 15px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;

  margin-top: 10px;
  background-color: #f8edda;
  border-radius: 7px;
}

.Mobile_Toolbar {
  display: none;
}

.Toolbar.has-icon {
  justify-content: space-between;

}

.Toolbar_Icon {

  font-size: 30px;
  color: #4a4a3f;
  /* margin-top: 5px; */

}

.Toolbar_Icon:hover {
  cursor: pointer;
}

.Desktop_Toolbar_Midle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.Desktop_Toolbar_Midle_Icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 50%;
  
}

.Desktop_Toolbar_Midle_Icon:hover {
  cursor: pointer;
  background-color: bisque;
}

.Desktop_Toolbar_Midle_Icon svg
{
  width: 25px;
  height: 25px;
  stroke-width: 30;
  stroke: #515045;
  /* hoặc 0.5 nếu muốn mỏng hơn */
}

.Toolbar_Right {
  display: flex;
  align-items: center;
}

.Toolbar_Menu_Dropdown {
  display: none;

}

.Toolbar_Menu_Dropdown.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 100;

  max-height: calc(100vh - 90px);
  width: 250px;

  background-color: #5e5c2c;
  border-radius: 7px;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;

  overflow: auto;
}

.Toolbar_Menu_Dropdown::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.Toolbar_Menu_Dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.Toolbar_Menu_Dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.Toolbar_Setting_Dropdown {
  display: none;
}

.Toolbar_Setting_Dropdown.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 100;
  /* width: 240px; */
  max-height: calc(100vh - 350px);
  background-color: #5e5c2c;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

@media (max-width: 450px) {

  .Desktop_Toolbar {
    display: none;
  }

  .Toolbar_Right {
    display: flex;
    align-items: center;
  }

  .Mobile_Toolbar {
    width: 100vw;
    height: 40px;
    padding: 5px 5px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;

    margin-top: 10px;
    background-color: #f8edda;
    border-radius: 7px;
  }


  .Toolbar_Back {
    font-size: 34px;
    color: #4a4a3f;
    margin-top: 5px;
  }

  .Toolbar_Icon {
    font-size: 30px;
    color: #4a4a3f;
    margin-right: 5px;
    margin-top: 3px;
    cursor: pointer;

    position: relative;
  }
.Desktop_Toolbar_Midle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.Desktop_Toolbar_Midle_Icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 50%;
  
}
  .Toolbar_Menu_Dropdown {
    display: none;
  }

  .Toolbar_Menu_Dropdown.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;


    width: 240px;
    max-height: calc(100vh - 350px);

    background-color: #5e5c2c;
    border-radius: 0 7px 7px 0;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
  }

  .Toolbar_Setting_Dropdown {
    display: none;
  }

  .Toolbar_Setting_Dropdown.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 100;
    /* width: 240px; */
    max-height: calc(100vh - 350px);
    background-color: #5e5c2c;
    border-radius: 7px 0 0 7px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
  }
}