.Toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.Toolbar.has-icon {
  justify-content: space-between;

}

.Toolbar_Icon {

  font-size: 30px;
  color: #4a4a3f;
  margin-top: 5px;

}

.Toolbar_Icon:hover {
  cursor: pointer;
}

.Toolbar_Menu {
  display: none;

}

.Toolbar_Menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 52px;
  left: -10px;
  z-index: 100;

  max-height: calc(100vh - 90px);
  width: 250px;

  background-color: #5e5c2c;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;

  overflow: auto;
}

.Toolbar_Menu::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.Toolbar_Menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.Toolbar_Menu::-webkit-scrollbar-track {
  background: transparent;
}

/* Cho Firefox */
.Blogmenu_List {
  scrollbar-width: thin;
  /* hoặc "none", "auto" */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* MOBILE */
.MobileToolbar {
  width: 100vw;
  height: 40px;
  padding: 5px 5px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;

  margin-top: 10px;
  background-color: #f8edda;
  border-radius: 7px;
}

.MobileToolbar_Icon {

  font-size: 34px;
  color: #4a4a3f;
  margin-top: 5px;
}

.MobileToolbar_Menu {
  display: none;
}

.MobileToolbar_Menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 100;


  width: 240px;
  max-height: calc(100vh - 350px);

  background-color: #5e5c2c;
  border-radius: 0 7px 7px 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.MobileToolbar_Setting {
  display: none;
}

.MobileToolbar_Setting.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 100;
  /* width: 240px; */
  max-height: calc(100vh - 350px);
  background-color: #5e5c2c;
  border-radius: 7px 0 0 7px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}