#video_container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 100 300px;
  box-sizing: border-box;
  flex-direction: column;
}

#video_container.active {
  display: none;
}

.video{
  width: 600px;
  height: auto;
  border-radius: 7px;
}
.video.active
{
  display: none;
}

.video_controls
{
display: flex;
align-items: center;
justify-content: flex-end;
width: 100%;
margin-top: 20px;

gap: 30px;

}
.video_button
{
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: var(--font-size-title);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
}
.video_controls_icon svg
{
    width: 30px;
    height: 30px;
    stroke: #000000;
    stroke-width: 40px;
    margin-left: 20px;
}

@media (max-width: 450px) {
#video_container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 9999;
  padding: 20px 20px;
  box-sizing: border-box;
  flex-direction: column;
}

#video_container.active {
  display: none;
}

.video{
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.video.active
{
  display: none;
}

.video_controls
{
display: flex;
align-items: center;
justify-content: flex-end;
width: 100%;
margin-top: 20px;
padding: 0;

}
.video_button
{
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: var(--font-size-title);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
}
.video_controls_icon svg
{
    width: 30px;
    height: 30px;
    stroke: #000000;
    stroke-width: 40px;
    margin-left: 20px;
}

  
}